<main class="container page-container p-3 col-12">
  <div class="container col-8">
    <h1>Create a new article</h1>

    <%= render 'form' %>
    <%= link_to 'Return to articles', articles_path %>
  </div>
</main>
