<footer id="sticky-footer" class="py-4 bg-dark text-white-50">
  <div class="container text-center">
    <small><%= link_to 'Rubeen', 'https://rubeen.one', class: 'text-white' %></small>
  </div>
</footer>
