<div class="page-content container">
  <div class="mt-3 index-container">
    <div class="background-image"></div>
    <div class="content">
      <h1>Ruby Blog</h1>
      Here is some text...
      <button type="button" class="btn btn-primary btn-lg btn-block mt-3">Sign up</button>
    </div>
  </div>

</div>
